.container{
    margin: 1em;
    background-color: #bb5634;
    text-align: center;
    padding: 3em;
    color: aliceblue;
}
#logo{
    width: 200px;
}

#photoIngredient,#novaNutriScore{
    width: 71%;
}

#champ{
    width: 75%;
}

body{
    background-image: url('projets/EXERCICE MYUKA/asset/image/nappe.png');
}

#buttonScanner {
    margin: 0.3em;
    width: 20%;
    background-color: #87bb34;
}